<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <section class="cc-impSec">
        <div class="cc-impGrid">
            <div class="cc-impGridItem">
                <h1>Glacier</h1>
                <p>Data for the glacier length was collected from</p>
                <a href="https://www.glamos.ch/downloads#tab-zeitreihen">Glamos</a>
            </div>
            <div class="cc-impGridItem">
                <h1>Temperature</h1>
                <p>Temperature Data with scale and picture were taken from</p>
                <a href="https://www.meteoschweiz.admin.ch/home/klima/klimawandel-schweiz.html#:~:text=Die%20bodennahe%20Atmosph%C3%A4re%20hat%20sich,%C2%B0C%20(Stand%202021)">MeteoSchweiz Admin</a>
            </div>
            <div class="cc-impGridItem">
                <h1>Temperature</h1>
                <p>Data on daily averages were taken from</p>
                <a href="https://opendata.swiss/de/dataset/klimamessnetz-tageswerte">OpenData</a>
            </div>
            <div class="cc-impGridItem">
                <h1>Temperature</h1>
                <p>Data from monthly averages were taken from</p>
                <a href="https://opendata.swiss/de/dataset/klimamessnetz-monatswerte ">OpenData</a>
            </div>
            <div class="cc-impGridItem">
                <h1>Rainfall</h1>
                <p>The Data for the Rainfall was collected from</p>
                <a href="https://opendata.swiss/en/dataset/klimadaten-eistage-frosttage-sommertage-hitzetage-tropennachte-und-niederschlagstage3/resource/0ef4f1a7-4b48-4c53-a884-a94ead8b5b13 ">OpenData</a>
            </div>
            <div class="cc-impGridItem">
                <h1>Energy</h1>
                <p>The Data on the Energy consumption sorted by energy source was collected from</p>
                <a href="https://www.bfs.admin.ch/bfs/de/home/statistiken/energie/verbrauch.assetdetail.23104756.html">BFS Admin</a>
            </div>
        </div>

        <div class="cc-storyBtn Impressum">
            <a id="cc-impContinue" href="/">Journey <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    
    </section>
</body>
</html>