<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    
    <!-- Welcome Section -->
    <section class="cc-welcomeSec">
        <div class="cc-titleWrap">
            <h1 class="cc-welcomeTitle">Swiss Climate Change</h1>
            <h2 class="cc-welcomeSubTitle">HackZürich 2022</h2>
        </div>
        <div class="cc-scrollBtn">
            <a href="#1">Start Journey</a>
        </div>
    </section>

    <!-- Data Section 1 | 1900 - 1930 -->
    <section class="cc-dataSec1" id="1">
        <div class="cc-data1TitleWrap">
            <div style="position: relative; width: fit-content;">
                <h1 class="cc-data1Title">1900 - 1930</h1>
                <span class="cc-titleBackground"></span>
            </div>
        </div>

        <div class="cc-data1Container">
            <div class="cc-data1GLTitle">
                <i class="fa-solid fa-mountain"></i>
                <h2>Glacier</h2>
            </div>
            <p class="cc-textParagraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo neque enim maxime possimus, modi repellat dolores eveniet accusantium vitae fugit id sed assumenda, sint deleniti impedit tempore laboriosam necessitatibus magni!</p>
            <div>

            </div>
        </div>

        <div class="cc-data1Container">
            <div class="cc-data1GLTitle">
                <i class="fa-solid fa-temperature-three-quarters"></i>
                <h2>Mean Temperature</h2>
            </div>
            <p class="cc-textParagraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo neque enim maxime possimus, modi repellat dolores eveniet accusantium vitae fugit id sed assumenda, sint deleniti impedit tempore laboriosam necessitatibus magni!</p>
        </div>
    </section>

</body>
</html>